@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    transition: background-color 0.3s ease;
}

.scroll-down {
    animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(2rem);
        opacity: 0.1;
    }
    100% {
        transform: translateY(2rem);
        opacity: 0;
    }
}

.scroll-up {
    animation: scrollUp 2s infinite;
}

@keyframes scrollUp {
    0% {
        transform: translateY(2rem);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0);
        opacity: 0
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ffa50097;
    position: relative;
    animation: l24 1s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }
  .loader:after {
    animation-duration: 4s;
  }
  @keyframes l24 {
    100% {transform: rotate(1turn)}
  }